<div class="container mt-5">
    <form id="addProductForm" action="/adminAddProduct" method="POST">
        <div class="mb-3">
            <label for="name" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Nombre" value="{{productById.name}}" required>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Descripción</label>
            <input type="text" class="form-control" id="description" name="description" placeholder="Descripción" value="{{productById.description}}" required>
        </div>
        <div class="mb-3">
            <label for="price" class="form-label">Precio</label>
            <input type="number" class="form-control" id="price" name="price" placeholder="Precio" value="{{productById.price}}" required>
        </div>
        <div class="mb-3">
            <label for="category" class="form-label">Categoría</label>
            <select class="form-control" id="category" name="category" required>
                <option value="" disabled selected>Selecciona una categoría</option>
                <option value="Accessories" {{#if (equals productById.category "Accessories")}}selected{{/if}}>Accessories</option>
                <option value="Books" {{#if (equals productById.category "Books")}}selected{{/if}}>Books</option>
                <option value="Clothing" {{#if (equals productById.category "Clothing")}}selected{{/if}}>Clothing</option>
                <option value="Electronics" {{#if (equals productById.category "Electronics")}}selected{{/if}}>Electronics</option>
                <option value="Furniture" {{#if (equals productById.category "Furniture")}}selected{{/if}}>Furniture</option>
                <option value="Home Appliances" {{#if (equals productById.category "Home Appliances")}}selected{{/if}}>Home Appliances</option>
                <option value="Stationery" {{#if (equals productById.category "Stationery")}}selected{{/if}}>Stationery</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="availability" class="form-label">Disponibilidad</label>
            <select class="form-control" id="availability" name="availability" required>
                <option value="" disabled selected>Selecciona disponibilidad</option>
                <option value="true" {{#if (equals productById.availability "true")}}selected{{/if}}>True</option>
                <option value="false" {{#if (equals productById.availability "false")}}selected{{/if}}>False</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="stock" class="form-label">Stock</label>
            <input type="number" class="form-control" id="stock" name="stock" placeholder="Stock" value="{{productById.stock}}" required>
        </div>
        <div class="mb-3">
            <label for="thumbnail" class="form-label">URL de la Imagen</label>
            <input type="text" class="form-control" id="thumbnail" name="thumbnail" placeholder="URL de la Imagen" value="{{productById.thumbnail}}" required>
        </div>
        <button type="button" class="btn btn-success" onclick="confirmAddProduct(event)">
            Agregar Producto
        </button>
        <a href="/adminViewAllProducts" class="btn btn-danger">
            Volver a Productos
        </a>
    </form>
</div>

<script src="/js/addProduct.js"></script>