<div class="container mt-5">
    <div class="container">
        <div class="row align-items-start">
            <div class="col">
                <h1>Lista de productos</h1>
            </div>
            {{#if (or (equals user.role "admin") (equals user.role "premium"))}}
                <div class="col">
                    <a href="/adminAddProduct" class="btn btn-info">
                        Agregar un producto...
                    </a>
                </div>
            {{/if}}
        </div>
    </div>

    <form method="GET" action="/adminViewAllProducts">
        <div class="row mb-3">
            {{#if (equals user.role "admin")}}
                <div class="col" style="max-width: 450px;">
                    <input type="text" name="owner" placeholder="Filtrar por propietario" class="form-control">
                </div>
            {{/if}}
            <div class="col" style="max-width: 250px;">
                <input type="number" name="stock" placeholder="Stock igual o menor a:" class="form-control">
            </div>
            <div>
                <button type="submit" class="btn btn-primary" style="margin-right: 30px;">Filtrar</button>
            </div>
            <div>
                <a href="/adminViewAllProducts" class="btn btn-primary">
                        Limpiar filtros
                    </a>
            </div>
        </div>
    </form>

    {{#if products.length}}
        <table class="table table-dark table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th>Stock</th>
                    <th>Publicado por:</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {{#each products}}
                    <tr>
                        <td><img src="{{this.thumbnail}}" alt="{{this.title}} thumbnail" class="img-fluid" style="width: 100px;"></td>
                        <td>{{this._id}}</td>
                        <td>{{this.name}}</td>
                        <td>${{this.price}}</td>
                        <td>{{this.stock}}</td>
                        <td>{{this.owner}}</td>
                        <td>
                            <a href="/adminUpdateProduct/{{this._id}}" class="btn btn-info">✏</a>
                        </td>
                        <td>
                            <a href="/adminDeleteProduct/{{this._id}}" class="btn btn-info" id="deleteProductBtn">❌</a>
                        </td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    {{else}}
        <p>No publicaste ningún producto aún! 😥</p>
    {{/if}}
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const deleteBtns = document.querySelectorAll('#deleteProductBtn')
        
        deleteBtns.forEach(btn => {
            btn.addEventListener('click', function (event) {
                event.preventDefault()
                
                const deleteUrl = this.getAttribute('href')
                
                Swal.fire({
                    title: '¿Estás seguro?',
                    text: '¿Quieres borrar este producto?',
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#d33',
                    cancelButtonColor: '#3085d6',
                    confirmButtonText: 'Sí, borrar'
                }).then((result) => {
                    if (result.isConfirmed) {
                        window.location.href = deleteUrl
                    }
                })
            })
        })
    })
</script>