<h2>Perfil de Usuario</h2>

<div class="card mb-3">
    <div class="row g-0" style="align-items: center; margin:10px;">
        <div class="col-md-4">
            <img src="{{user.profile_image}}" class="img-fluid rounded-start" style="width: 540px;">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">{{user.first_name}} {{user.last_name}}</h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><strong>Email: </strong>{{user.email}}</li>
                    <li class="list-group-item"><strong>Edad: </strong>{{user.age}}</li>
                    <li class="list-group-item"><strong>Registrado: </strong>{{user.formattedCreatedAt}}</li>
                    <li class="list-group-item"><strong>Última modificación de perfil: </strong>{{user.formattedUpdatedAt}}</li>
                </ul>
            </div>
            <div class="card-body">
                <a href="/profile/{{user._id}}"><button class="btn btn-success">Editar mi perfil</button></a>
                <br><br>
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <div class="accordion-header" id="headingOne">
                            <button class="accordion-button collapsed btn btn-danger" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                Eliminar cuenta
                            </button>
                        </div>
                        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                            <div class="accordion-body" id="currentUserDetails">
                                <button id="deleteProfileBtn" class="btn btn-outline-danger" style="margin-top: 10px;">☠ Si, deseo eliminar mi cuenta ☠</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.getElementById('deleteProfileBtn').addEventListener('click', function() {
        Swal.fire({
            title: '¿Estás seguro?',
            text: "Esta acción es irreversible.",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: 'Sí, eliminar',
            cancelButtonText: 'Cancelar'
        }).then((result) => {
            if (result.isConfirmed) {
                fetch(`/profile/{{user._id}}`, {
                    method: 'DELETE',
                    headers: {
                        'Content-Type': 'application/json'
                    }
                })
                .then(response => {
                    if (response.ok) {
                        Swal.fire(
                            'Eliminado!',
                            'Tu perfil ha sido eliminado.',
                            'success'
                        ).then(() => {
                            window.location.href = '/login?success=Perfil eliminado correctamente.'
                        })
                    } else {
                        Swal.fire(
                            'Error!',
                            'Hubo un problema al eliminar tu perfil.',
                            'error'
                        )
                    }
                })
            }
        })
    })
</script>