<body>
    <div class="container mt-5">
        <h1 class="mb-4">Verificar datos del ticket</h1>
        <div class="card">
            <div class="card-header">
                Detalle del Carrito
            </div>
            <div class="card-body">
                {{#if cart.products.length}}
                    <ul class="list-group mb-3">
                        {{#each cart.products}}
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <div>
                                    <h5 class="mb-1">{{product.name}}</h5>
                                    <small class="text-muted">Cantidad: {{quantity}}</small>
                                </div>
                                <span class="badge badge-primary badge-pill">${{calculateSubtotal this.product.price this.quantity}}</span>
                            </li>
                        {{/each}}
                    </ul>
                    <a href="/carts/{{cart._id}}" class="btn btn-info">Volver al carrito</a>
                    <br>
                    <br>
                    <br>
                    <hr>
                    <button id="purchase-email-btn" class="btn btn-success btn-block">Confirmar - Recibir confirmación por email</button>
                    <br>
                    <hr>
                    <div class="mt-2">
                        <h5>Recuerda incresar la característica de tu país!</h5>
                        <p>Ejemplo: +54 11 56633310</p>
                        <input type="text" id="phone-number" class="form-control mb-2" placeholder="Ingresa tu número de teléfono">
                        <button id="purchase-sms-btn" class="btn btn-primary btn-block">Confirmar - Recibir confirmación por email y SMS</button>
                    </div>
                {{else}}
                    <p class="text-muted">No hay productos en el carrito.</p>
                {{/if}}
            </div>
        </div>
    </div>

    <script>
        const handlePurchase = (url, phoneNumber) => {
            const payload = phoneNumber ? { phoneNumber } : {}

            fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(payload)
            })
            .then(response => response.json())
            .then(data => {
                if (data.status === 'success') {
                    Swal.fire({
                        icon: 'success',
                        title: 'Compra realizada',
                        text: data.message,
                        footer: `Código de compra: ${data.ticket.code}`
                    }).then(() => {
                        window.location.href = '/purchases'
                    })
                } else {
                    let productDetails = ''
                    if (data.unavailableProducts && data.unavailableProducts.length > 0) {
                        productDetails = 'Uno o más productos no están disponibles: Verifica el carrito de compras para comprobar el stock!'
                    }

                    Swal.fire({
                        icon: 'error',
                        title: 'Error en la compra',
                        text: data.message,
                        footer: productDetails ? productDetails : ''
                    }).then(() => {
                        window.location.href = '/carts/{{cart._id}}'
                    })
                }
            })
            .catch(error => {
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: 'Ocurrió un error al realizar la compra'
                })
            })
        }

        document.getElementById('purchase-email-btn').addEventListener('click', () => handlePurchase(`/api/carts/{{cart._id}}/purchase?method=email`))
        document.getElementById('purchase-sms-btn').addEventListener('click', () => {
            const phoneNumber = document.getElementById('phone-number').value
            handlePurchase(`/api/carts/{{cart._id}}/purchase?method=sms`, phoneNumber)
        })
    </script>
</body>