<body>
    {{#if user}}
        <h3 class="text-center">Bienvenido, 
            <strong>{{user.first_name}}</strong>
        </h3>
        <div class="container mt-5">
            <h3 class="text-center">Tus Compras</h3>
            {{#if purchases.length}}
                <div class="accordion" id="accordionPurchases">
                    {{#each purchases}}
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading{{@index}}">
                                <div style="display: flex; gap:10px">
                                    <img style="width: 100px;" src="https://media2.giphy.com/media/v1.Y2lkPTc5MGI3NjExMW45d211d2JmMDJjZDlpcWtwZDdsNXp5YWdlcHU5eWdxZ2pxN3gyayZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/chqkdGI4dwLsujNlph/giphy.webp" alt="">
                                    <button style="display: flex; align-items:center; gap:15px" class="btn btn-outline-dark accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{@index}}" aria-expanded="false" aria-controls="collapse{{@index}}">
                                        <div>
                                            <small><p>Fecha de compra: {{formattedDate}}</p></small>
                                            Código: <strong>{{this.code}}</strong>
                                            <br>
                                            Monto: <strong>${{this.amount}}</strong>
                                        </div>
                                        <div>
                                            🔽
                                        </div>
                                    </button>
                                </div>
                            </h2>
                            <div id="collapse{{@index}}" class="accordion-collapse collapse" aria-labelledby="heading{{@index}}">
                                <div class="accordion-body">
                                    <ul class="list-group" style="margin-bottom: 15px;">
                                        {{#each this.products}}
                                            <li class="list-group-item" style="background-color: antiquewhite;">
                                                <div style="display: flex; align-items:center; justify-content:space-between;">
                                                    <div>
                                                            <p><strong>Producto:</strong> {{this.product.name}}</p>
                                                            <p><strong>ID:</strong> {{this.product._id}}</p>
                                                            <p><strong>Cantidad:</strong> {{this.quantity}}</p>
                                                    </div>
                                                    <div class="text-center">
                                                        <img src="{{this.product.thumbnail}}" alt="" style="width: 100px; display:flex">
                                                        <a href="/products/{{this.product._id}}">Ver detalle</a>
                                                    </div>
                                                </div>
                                            </li>
                                        {{/each}}
                                    </ul>
                                    <hr>
                                </div>
                            </div>
                        </div>
                    {{/each}}
                </div>
            {{else}}
                <h4 class="text-center mt-4">No tienes compras realizadas.</h4>
            {{/if}}
        </div>
    {{else}}
        <p>
            Inicia sesión para ver tus compras.
            <a href="/login" class="btn btn-info">Iniciar</a>
        </p>
    {{/if}}
</body>