<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container-fluid">

        <!-- icono -->
        <a class="navbar-brand">
            <img src="https://i.postimg.cc/9fpzFrJ7/FANA.png" width="120px" alt="logo fanaticos de las casacas">
        </a>

        <!-- boton del menu -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#botonmenu"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- menu colapsable -->
        <div class="collapse navbar-collapse" id="botonmenu">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="/">Inicio</a>
                </li>
                {{#if user}}
                    <li class="nav-item">
                        <a class="nav-link active" href="/products">Productos</a>
                    </li>
                {{/if}}
                {{#if (equals user.role "user")}}
                    <li class="nav-item dropdown">
                        <a class="nav-link active dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Categorías
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                            <li><a class="dropdown-item" href="/products/category/Accessories">Accessories</a></li>
                            <li><a class="dropdown-item" href="/products/category/Books">Books</a></li>
                            <li><a class="dropdown-item" href="/products/category/Clothing">Clothing</a></li>
                            <li><a class="dropdown-item" href="/products/category/Electronics">Electronics</a></li>
                            <li><a class="dropdown-item" href="/products/category/Furniture">Furniture</a></li>
                            <li><a class="dropdown-item" href="/products/category/Home Appliances">Home Appliances</a></li>
                            <li><a class="dropdown-item" href="/products/category/Stationery">Stationery</a></li>
                        </ul>
                    </li>
                {{/if}}
                {{#if (equals user.role "admin")}}
                    <li class="nav-item dropdown">
                        <a class="nav-link active dropdown-toggle" href="#" id="navbarSuperadminDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Dashboard
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarSuperadminDropdownMenuLink">
                            <li><a class="dropdown-item" href="/adminDashboard">Panel de administración</a></li>
                            <li><a class="dropdown-item" href="/adminViewAllProducts">Administrar Productos</a></li>
                            <li><a class="dropdown-item" href="/adminAddProduct">Agregar producto</a></li>
                            <li><a class="dropdown-item" href="/adminChat">Administrar Usuarios</a></li>
                            <li><a class="dropdown-item" href="/chat">Moderar Chat</a></li>
                            <li><a class="dropdown-item" href="/adminPurchases">Ver Compras</a></li>
                        </ul>
                    </li>
                {{/if}}
            </ul>

            <hr class="d-md-none text-white-50">

            <ul class="navbar-nav flex-wrap">
                {{#if user}}
                    {{#if (equals user.role "user")}}
                        <li class="nav-item dropdown btn-outline-secondary">
                            <a class="nav-link active dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                {{user.first_name}}
                                <span class="position-absolute top-0 start-100 translate-middle p-1 bg-success border border-light rounded-circle">
                                    <span class="visually-hidden"></span>
                                </span>
                                <img src="{{user.profile_image}}" class="profile-image" style="width: 40px; height: 40px">
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                                <li><a class="dropdown-item" href="/profile">Ver Perfil</a></li>
                                <li><a class="dropdown-item" href="/profile/{{user._id}}">Editar Perfil</a></li>
                                <li><a class="dropdown-item" href="/carts/{{user.cart._id}}">Carrito</a></li>
                                <li><a class="dropdown-item" href="/chat">Envianos un mensaje!</a></li>
                                <li><a class="dropdown-item" href="/purchases">Mis compras</a></li>
                                <li><a class="dropdown-item" href="#"><del>Publicar un producto</del></a></li>
                                <li><a class="dropdown-item" href="#"><del>Editar un producto</del></a></li>
                                <li><a class="dropdown-item" href="#"><del>Eliminar un producto</del></a></li>
                                <li><a class="dropdown-item" href="#"><del>Favoritos</del></a></li>
                                <li><a class="dropdown-item" href="#"><del>Notificaciones</del></a></li>
                            </ul>
                        </li>
                        <a class="nav-link" href="/carts/{{user.cart._id}}">
                            <i class="fa-solid fa-cart-shopping fa-lg" style="color: #dba020;"></i>
                            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                {{cart.products.length}}
                            </span>
                        </a>
                        <a style="margin-left: 15px;" class="nav-link" href="/chat"><i class="fa-solid fa-envelope fa-lg" style="color: #dba020;"></i></a>
                    {{else}}
                        <a class="nav-link active">
                            {{user.first_name}}
                            <span class="position-absolute top-0 start-100 translate-middle p-1 bg-success border border-light rounded-circle">
                                <span class="visually-hidden"></span>
                            </span>
                            <img src="{{user.profile_image}}" class="profile-image" style="width: 40px; height: 40px">
                        </a>
                    {{/if}}
                    <button class="btn" id="logoutButton"><i class="fa-solid fa-right-from-bracket fa-lg" style="color: #dba020;"></i></button>
                {{else}}
                    <li class="nav-item">
                        <a class="nav-link" href="/login">INICIAR SESIÓN</a>
                    </li>
                {{/if}}
            </ul>
        </div>
    </div>  
</nav>

<script src="/js/logOut.js"></script>